<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="config" default="" />
  <arg     if="$(eval config=='')" name="command_args" value="" />
  <arg unless="$(eval config=='')" name="command_args" value="-d $(arg config)" />

  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find robot_moveit_config)/launch/moveit_cam_pose_estim.rviz" output="screen">
  </node>

</launch>
