<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <group if="$(arg sim)"> <!--simulation-->
    <!-- Remap follow_joint_trajectory -->
    <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/pos_joint_traj_controller/follow_joint_trajectory"/>
    <include file="$(find robot_moveit_config)/launch/move_group.launch">
      <arg name="debug" default="$(arg debug)" />
    </include>

  </group>

  <group unless="$(arg sim)"> <!--real execution-->
    <include file="$(find robot_moveit_config)/launch/move_group.launch">
        <arg name="debug" default="$(arg debug)" />
    </include>
  </group>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.1 0 1.4 0 0 1 0 stand camera_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0.0 0.0 0 0 1 0 stand camera_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0.0 0.0 0.5 -0.7071068 0.0 0.5 stand camera_link 100" />
  -->

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0.0 0.0        0 0 1 0      stand camera_link 100" />

</launch>