<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <group if="$(arg sim)"> <!--simulation-->
    <!-- Remap follow_joint_trajectory -->
    <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/pos_joint_traj_controller/follow_joint_trajectory"/>
    <include file="$(find robot_moveit_config)/launch/move_group.launch">
      <arg name="debug" default="$(arg debug)" />
    </include>

  </group>

  <group unless="$(arg sim)"> <!--real execution-->
    <include file="$(find robot_moveit_config)/launch/move_group.launch">
        <arg name="debug" default="$(arg debug)" />
    </include>
  </group>

</launch>